<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :par %>
    <%= f.number_field :par %>
  </div>

  <div class="field">
    <%= f.label :yards %>
    <%= f.number_field :yards %>
  </div>

  <div class="field">
    <%= f.label :course_rating %>
    <%= f.text_field :course_rating %>
  </div>

  <div class="field">
    <%= f.label :slope %>
    <%= f.number_field :slope %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
