<p id="notice"><%= notice %></p>

<p>
  <strong>Hole number:</strong>
  <%= @hole.hole_number %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @hole.picture %>
</p>

<p>
  <strong>Par:</strong>
  <%= @hole.par %>
</p>

<p>
  <strong>Yards:</strong>
  <%= @hole.yards %>
</p>

<p>
  <strong>Handicap:</strong>
  <%= @hole.handicap %>
</p>

<p>
  <strong>Course:</strong>
  <%= @hole.course_id %>
</p>

<%= link_to 'Edit', edit_hole_path(@hole) %> |
<%= link_to 'Back', holes_path %>
