<p id="notice"><%= notice %></p>

<h1>Rounds</h1>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Score</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.timestamp %></td>
        <td><%= round.score %></td>
        <td><%= Course.find(round.course_id).name %></td>
        <td><%= link_to 'Show', round %><br /><%= link_to 'Edit', edit_round_path(round) %><br /><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path %>
