<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @round.timestamp %>
</p>

<p>
  <strong>Score:</strong>
  <%= @round.score %>
</p>

<p>
  <strong>Course:</strong>
  <%= Course.find(@round.course_id).name %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
