<p id="notice"><%= notice %></p>

<h1>Outings</h1>

<table>
  <thead>
    <tr>
      <th>Outing</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outings.each do |outing| %>
      <tr>
        <td><%=outing.id%></td>
        <td><%=outing.date%></td>
        <td><%= link_to 'Show', outing %><br /><%= link_to 'Edit', edit_outing_path(outing) %><br /><%= link_to 'Destroy', outing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outing', new_outing_path %>
